header{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 10px
	height: 50px;
	text-align: center;
	/*background: #4D955E;*/
	border-radius: 5px;
	/*opacity: 0.8;*/
}
body{
    background: black;
}
.active{
background-color:red;
}
.topnav {
  background-color: /*#333;*/#F2F2F2;
  overflow: hidden;
  border-radius: 5px;
  /*opacity: 0.8;*/
}
.topnav a {
  float: left;
  color: /*#f2f2f2;*/ #333;
  text-align: center;
  font-family: Arial;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: /*#0174DF*/black;
  color: white;
}

section{
    width: 100%;


}

aside{
    float: right;
}

/*Hier die Bildschirmanpassung fuer die 
    max-width 414 pixel und max height 830 pixel
    min-width 360 pixel und min height 568 pixel
    Beispiel: iPhoneX/7/8/9 und Plus
    Pixel 2, Pixel 2XL, Galaxy S5, Moto G4

*/
@media screen and (max-height: 830px) and (min-height:568px) and (max-width:414px) and (min-width:360px){
    #skyline img{
        width: 300px;
        float: left;
    }
    #zitat1{
        display: none;
    }
    #zitat2{
        display: none;
    }
    .topnav{
        width: 100%;
    }
}

/*Hier 
    max-width 320 pixel
    max-height 655 pixel
    min-width 270 pixel
    min-height 560 pixel

*/
@media screen and (max-height: 655px) and (min-height:560px) and (max-width:320px) and (min-width:270px) {

}


