header{
	padding-top: 0px;
	width: 100%;
	padding-bottom: 10px
	height: 50px;
	text-align: center;
	/*background: #4D955E;*/
	border-radius: 5px;
	/*opacity: 0.8;*/
}
body{
    background: black;
}
.active{
background-color:red;
}
.topnav {
  background-color: /*#333;*/#F2F2F2;
  overflow: hidden;
  border-radius: 5px;
  /*opacity: 0.8;*/
}
.topnav a {
  float: left;
  color: /*#f2f2f2;*/ #333;
  text-align: center;
  font-family: Arial;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: /*#0174DF*/black;
  color: white;
}

section{
    width: 100%;


}

aside{
    float: right;
}